<ion-navbar>
  <ion-col col-12 text-align-center>Data of the {{data?.rangeTable['name']}}</ion-col>
</ion-navbar>

<ion-item-group *ngIf = "series">
  <ion-item-divider color="light" *ngFor = "let item of series" >{{item.name}} {{item.symbols}}
    <ion-grid>
      <ion-item>
        <ion-row justify-content-between *ngFor = "let item2 of item.data">
          <ion-col col-5>{{item2.value}}</ion-col>
          <ion-col col-5>{{item2.timestamp}}</ion-col>
        </ion-row>
      </ion-item>
    </ion-grid>
  </ion-item-divider>
</ion-item-group>

